body {
  background: url("http://static1.squarespace.com/static/547d3a0fe4b009320b6915e1/t/54c7465be4b080f91c82df1f/1422345819989/Bar+35_hero_06+top+bar.jpg") no-repeat center center fixed;
  background-size: cover;
}

.ui.borderless.menu {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.ui.tt.container .item{
  color: white;
  letter-spacing: 2px;
}

h1 {
  color: white;
  line-height: 60px;
}